## .NET / Visual Studio
bin/
obj/
*.user
*.suo
*.cache
*.vs/
.vs/

## Build outputs
*.appx
*.msix
*.appxbundle
*.msixbundle
AppPackages/
BundleArtifacts/
artifacts/

## NuGet
packages/
*.nupkg

## Rider / JetBrains
.idea/

## OS files
Thumbs.db
desktop.ini
.DS_Store

# Development certificate
devcert.pfx
